<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{user.username}}的发信室</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/forzone.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/moment.js"></script>
</head>

<body id="zone-send-back">
    <!--导航栏部分的重写-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">✨RandU</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('user') }}">首页</a></li>
                    <li><a href="{{ url_for('zonesend',username=current_user.username) }}">收发记录</a></li>
                    <li><a href="{{ url_for('personal',username=current_user.username) }}">个人信息</a></li>
                    <li><a href="{{ url_for('ground')}}">广场</a></li>
                    <li><a href="{{ url_for('about') }}">网站帮助</a></li>
                </ul>
            </div>
            <div class="hello-user" id="logout">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout')}}">登出</a>
                {% else %}请登录或注册{% endif %}
            </div>
        </div>
    </div>

    <!--主体部分-->
    <div class="container body-content">
        <div class="container">
            <header class="codrops-header">
                <h1 id="send-title">{{user.username}}的发信室</h1>
                <nav class="codrops-demos">
                    <a href="{{ url_for('zonesend',username=current_user.username) }}">
                        <div id="send-bird-frame"></div>
                    </a>
                    <a class="current-demo" href="{{ url_for('zonereceive',username=current_user.username) }}">
                        <div id="send-kangroo-frame"></div>
                    </a>
                </nav>
            </header>
        </div>
    </div>

    <!--展示栏-->
    <div id="letters-part">
        <ul class="letters">
            {% for letter in letters %}
            <li class="letter">
                <div class="letter-date">
                    {{ letter.timestamp }}
                </div>
                <div class="letter-state">
                    {% if letter.nowstate == 0 %}
                    在路上
                    {% else %}
                    已寄到
                    {%endif%}
                </div>
                <div class="letter-blank">

                    <div class="letter-letteraddto">
                        <b>对方用户名&nbsp;>>&nbsp;</b>
                        {{ letter.letteraddto.username }}
                    </div>
                    <div class="letter-add">
                        <span class="letter-add1">
                            <b>对方地址&nbsp;>>&nbsp;</b>
                            {{ letter.letteraddto.country }}
                        </span>
                        <span class="letter-add2">
                            {{ letter.letteraddto.province }}
                        </span>
                        <span class="letter-add3">
                            {{ letter.letteraddto.city }}
                        </span>
                    </div>
                    <div class="letter-add4">
                        <b>详细地址&nbsp;>>&nbsp;</b>
                        {{ letter.letteraddto.moreaddress }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!--尾部-->
    <div>
        <hr />
        <footer>
            <p class="center-text">&copy; {{ year }} - RandU | Your Random Mail Application</p>
        </footer>
    </div>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    <script src="/static/scripts/forzone2.js"></script>
</body>
</html>